@font-face {
    font-family: boldFont;
    src: url('BBHBartle-Regular.ttf');
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: boldFont;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: rgb(0, 162, 255);
}
.grid {
    width: 200px;
    height: 320px;
    background: #272626;
    display: flex;
    flex-wrap: wrap;
}
.layout {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.grass {
    width: 50px;
    height: 320px;
    background: #52504e;
}
h1 {
    margin: 0;
}
.score {
    padding: 4px;
    background: #ffffff;
    border-radius: 4px;
    width: max-content;
    color: rgb(0, 0, 0);
}
.grid div {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}
.margin {
    background: white;
}
.car {
    background: url('R.svg') center no-repeat ;
    background-size: contain;
    rotate: 90deg;
}
.player {
    background: url('blue-car-top-view-icon-14.png') center no-repeat;
    background-size: contain;
    rotate: 90deg;
}
.result {
    display: flex;
    align-items: center;
    gap: 4px;
}
.control {
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 4px;
    position: relative;
}
.l, .t, .r, .d {
    position: absolute;
}
.l {
    font-size: 4rem;
    top:50%;
    transform: translate(-50%);
    rotate: 90deg;
}
.t {
    font-size: 4rem;
    top: 0;
    right: 50%;
    transform: translate(-50%);
    rotate: 180deg;
}
.r {
    font-size: 4rem;
    top: 50%;
    right: 0;
    transform: translate(50%);
    rotate: 270deg;
}
.d {
    font-size: 4rem;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
}