@font-face {
    font-family: boldFont;
    src: url('BBHBartle-Regular.ttf');
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: boldFont;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: linear-gradient(rgb(54, 54, 54), rgb(0, 0, 0));
}
.grid {
    width: 200px;
    height: 320px;
    background: #726d6d;
    display: flex;
    flex-wrap: wrap;
}
.layout {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.grass {
    width: 50px;
    height: 320px;
    background: #0be70b;
}
h1 {
    margin: 0;
}
.play {
    width: max-content;
    
    background: #0791e0;
    font-family: sans-serif;
    border-radius: 16px;
    color: rgb(169, 219, 231);
    align-content: center ;
    padding: 4;
    margin-bottom: 4px;
    cursor: pointer;
    height: min-content;
    
}
.score {
    padding: 4px;
    width: max-content;
}
.grid div {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}
.margin {
    background: white;
}
.car {
    background: url('R.svg') center no-repeat ;
    background-size: contain;
    rotate: 270deg;
}
.player {
    background: url('blue-car-top-view-icon-14.png') center no-repeat;
    background-size: contain;
    rotate: 90deg;
}
.result {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    font-family: sans-serif;
    align-content: center;
}
.box {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.control {
    width: 200px;
    height: 200px;
    margin: 4px;
    position: relative;
}
.l, .t, .r, .d {
    position: absolute;
}
.l {
    font-size: 4rem;
    top:50%;
    transform: translate(-50%);
    rotate: 90deg;
}
.t {
    font-size: 4rem;
    top: 0;
    right: 50%;
    transform: translate(-50%);
    rotate: 180deg;
}
.r {
    font-size: 4rem;
    top: 50%;
    right: 0;
    transform: translate(50%);
    rotate: 270deg;
}
.d {
    font-size: 4rem;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
}
.console {
    display: flex;
    background: #161616;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 4px;
    padding: 4px;
}
.nitro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.nitro div {
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    height: 75px;
    width: 75px;
    align-content: center;
    text-align: center;
    font-size:10px;
    cursor: pointer;
}