@font-face {
    font-family: boldFont;
    src: url('BBHBartle-Regular.ttf');
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: boldFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: black;
}
.grid {
    width: 400px;
    height: 640px;
    background: #726d6d;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.layout {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}



.topbox {
    color: #ffffff;
    width: 400px;
    background: linear-gradient(#000, #1b1919);
    

}
h1 {
    margin: 0;
}
.play {
    width: max-content;
    
    background: #409ce7;
    font-family: sans-serif;
    border-radius: 16px;
    color: rgb(169, 219, 231);
    align-content: center ;
    padding: 4;
    margin-bottom: 4px;
    cursor: pointer;
    height: min-content;
    
}
.score {
    padding: 4px;
    width: max-content;
}
.grid div {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}
.margin {
    background: white;
}
.car {
    background: url('R.svg') center no-repeat ;
    background-size: contain;
    rotate: 270deg;
}
.player {
    background: url('blue-car-top-view-icon-14.png') center no-repeat;
    background-size: contain;
    rotate: 90deg;
}
.result {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    font-family: sans-serif;
    align-content: center;
}
.box {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.control {
    width: 120px;
    margin: 4px;
    position: relative;
}
.l, .t, .r, .d {
    position: absolute;
}
.l {
    font-size: 1.5rem;
    top:50%;
    transform: translate(-50%);
    rotate: 90deg;
}
.t {
    font-size: 1.5rem;
    top: 0;
    right: 50%;
    transform: translate(-50%);
    rotate: 180deg;
}
.r {
    font-size: 1.5rem;
    top: 50%;
    right: 0;
    transform: translate(50%);
    rotate: 270deg;
}
.d {
    font-size: 1.5rem;
    bottom: 0;
    right: 50%;
    transform: translate(50%);
}
.nitro {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4px;
    gap: 25px;
    width: 100%;
}
.nitro div {
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size:10px;
    cursor: pointer;
}
.bottombox {
    width: 400px;
    background: linear-gradient(#000, #161515);
    display: flex;
    justify-content: center;

}
.console {
    display: flex;
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 380px;
    height: 75px;
    margin: 4px;
    box-shadow: 0px 5px 5px rgba(99, 98, 98, 0.1);
    backdrop-filter: blur(5px);
}